@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.about {
  background-color: #4242fc;
  width: 100%;
  padding: 115px;
}

.about img {
  margin-right: 100px;
  width: 350px;
  height: 100px;
  background-color: white;
}

.about .text {
  width: 750px;
  height: 320px;
  text-align: justify;
  background-color: white;
  border-radius: 15px;
}

.about .text h2 {
  color: red;
  font-size: 30px;
  text-transform: capitalize;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  padding-top: 10px;
  margin-left: 40px;
}

.about .text p {
  color: black;
  margin-bottom: 10px;
  background-color: white;
  padding: 50px;
  margin-top: -30px;
}

.about .text .cv {
  color: #4242fc;
  background-color: white;
}

.about .text .j {
  color: #4242fc;
  background-color: white;
}

.about .text .badi {
  color: #4242fc;
  background-color: white;
}

.about .main {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .button {
  background-color: #4242fc;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  margin: 20px;
  margin-left: 45px;
  margin-top: -10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.about .button:hover {
  border: 5px solid #4242fc;
  cursor: pointer;
}

.nav {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ff4343;
}

.nav header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav header .logo {
  position: relative;
  font-size: 30px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav header img {
  width: 170px;
  background: white;
  border-radius: 10px;
}

.nav header .navigation a {
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 15px;
}

.nav header .navigation a:not(:last-child) {
  margin-right: 30px;
}

.nav header .navigation a:hover {
  background: #4242fc;
}

.nav header label {
  display: none;
}
/*# sourceMappingURL=style1.css.map */